<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="YKCJ_EngineerReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="ApplicationMode" value="DEV"/>
    <!--<add key="DEV_SYSTEMConnectString" value="SERVER=131.9.1.2; " />-->
    <add key="DEV_SYSTEMConnectString" value="SERVER=(Local); "/>
    <!--<add key="REAL_SYSTEMConnectString" value="SERVER=10.23.248.120; " />-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <YKCJ_EngineerReport.Properties.Settings>
            <setting name="UserID" serializeAs="String">
                <value>tjrrudals</value>
            </setting>
            <setting name="MainHomeImage" serializeAs="String">
                <value>0</value>
            </setting>
        </YKCJ_EngineerReport.Properties.Settings>
    </userSettings>
</configuration>
