<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C1.Xaml.WPF" version="4.5.20211.741" targetFramework="net452" />
  <package id="C1.Xaml.WPF.BarCode" version="4.5.20211.741" targetFramework="net452" />
  <package id="C1.Xaml.WPF.Bitmap" version="4.5.20211.741" targetFramework="net452" />
  <package id="C1.Xaml.WPF.DataGrid" version="4.5.20211.741" targetFramework="net452" />
  <package id="C1.Xaml.WPF.DateTimeEditors" version="4.5.20211.741" targetFramework="net452" />
  <package id="C1.Xaml.WPF.Document" version="4.5.20211.741" targetFramework="net452" />
  <package id="C1.Xaml.WPF.DX" version="4.5.20211.741" targetFramework="net452" />
  <package id="C1.Xaml.WPF.Excel" version="4.5.20211.741" targetFramework="net452" />
  <package id="C1.Xaml.WPF.FlexChart" version="4.5.20211.741" targetFramework="net452" />
  <package id="C1.Xaml.WPF.FlexGrid" version="4.5.20211.741" targetFramework="net452" />
  <package id="C1.Xaml.WPF.FlexReport" version="4.5.20211.741" targetFramework="net452" />
  <package id="C1.Xaml.WPF.FlexViewer" version="4.5.20211.741" targetFramework="net452" />
  <package id="C1.Xaml.WPF.ImportServices" version="4.5.20211.741" targetFramework="net452" />
  <package id="C1.Xaml.WPF.Legacy" version="4.5.20211.741" targetFramework="net452" />
  <package id="C1.Xaml.WPF.Pdf" version="4.5.20211.741" targetFramework="net452" />
  <package id="C1.Xaml.WPF.ReportViewer" version="4.5.20211.741" targetFramework="net452" />
  <package id="C1.Xaml.WPF.RichTextBox" version="4.5.20211.741" targetFramework="net452" />
  <package id="C1.Xaml.WPF.RichTextBox.Toolbar" version="4.5.20211.741" targetFramework="net452" />
  <package id="C1.Xaml.WPF.SpellChecker" version="4.5.20211.741" targetFramework="net452" />
  <package id="C1.Xaml.WPF.TileView" version="4.5.20211.741" targetFramework="net452" />
  <package id="C1.Xaml.WPF.Toolbar" version="4.5.20211.741" targetFramework="net452" />
  <package id="C1.Xaml.WPF.Word" version="4.5.20211.741" targetFramework="net452" />
  <package id="C1.Xaml.WPF.Zip" version="4.5.20211.741" targetFramework="net452" />
  <package id="ControlzEx" version="4.3.0" targetFramework="net452" />
  <package id="MahApps.Metro" version="2.0.0" targetFramework="net452" />
  <package id="MaterialDesignColors" version="2.0.1" targetFramework="net452" />
  <package id="MaterialDesignThemes" version="4.1.0" targetFramework="net452" />
  <package id="MaterialDesignThemes.MahApps" version="0.1.7" targetFramework="net452" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net452" />
  <package id="ModernUICharts.WPF.Beta" version="0.9.1" targetFramework="net452" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net452" />
</packages>