<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QTRS.Properties.Settings.QTRS_Local_ConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=QTRS;Persist Security Info=True;User ID=sa;Password=skekdns7"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>